#app div.v-application--wrap{
    background-color: white !important;
}
.buttonStyle {
    border: 10px solid #F0F0F0 !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
    width: 10rem;
}
.headerCompany {
    background-color:	#DDE0E6 ;
}